$colorTextA:white;
$colorText2A:#FFE9D4;
$colorSombra:0px 4px 8px 0px rgba(89, 73, 30, 0.7);
$colorText2B:rgba(117, 117, 117, 1);
$colorTextB:rgba(255, 149, 54, 1);
$colorSelector:white;
$colorBackgroundC:rgba(32, 30, 28, 1);
$colorTextC:white;
$colorText2C:rgba(128, 128, 128, 1);
$colorCajasC:rgba(40, 38, 35, 1);
$colorTextD:rgba(117, 117, 117, 1);
$colorText2D:white;
$colorBackgroundD:rgba(247, 147, 26, 1);
$colorBackground2D:rgba(255, 255, 255, 1);
