<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Batabit</title>
</head>

<body>
    <header class="contenedorA">
        <img class="contenedorA__img" src="../img/logo.svg" alt="Logo">
        <h2 class="contenedorA__text">
            La próxima revolución en el intercambio de criptomonedas.
            
        </h2>
        <h4 class="contenedorA__text--font-size">
            Batabit te ayuda a navegar entre los diferentes precios y tendencias.
        </h4>
    </header>
    <div class="contenedorS">
        <select class="contenedorS__Selector" name="transporte">
            <option selected>Conoce nuestros planes</option>
            <option>Opcion1</option>
            <option>Opcion2</option>
            <option>Opcion3</option>
        </select>
    </div>
    <section class="contenedorB">
        <img class="contenedorB__img" src="../img/Bitcoin.svg" alt="Bitcoin">
        <h2 class="contenedorB__text">
            Visibilizamos todas las tasas de cambio.
        </h2>
        <h5 class="contenedorB__text--font-color">
            Traemos información en tiempo real de las casas de cambio y las monedas más importantes del mundo.
        </h5>
        <div class="contenedorB__Stats">
            <h3 class="contenedorB__text--color">
                Monedas
            </h3>
            <div class="contenedorB__img--center">
                <a href=""><img src="../img/flechaIzquierda.svg" alt=""></a>
                <img src="../img/tabla.svg" alt="">
                <a href=""><img src="../img/flechaDerecha.svg" alt=""></a>
            </div>
            <div class="contenedorB__info">
                <p><b>Actualizado</b>:19 julio 23:45</p>
            </div>
        </div>
    </section>
    <section class="contenedorC">
        <div class="contenedorC__potato">
            <img class="contenedorC__potato--icon" src="../img/Group 16.svg" alt="">
        </div>
        <h2 class="contenedorC__text">
            Creamos un producto sin comparación.
        </h2>
        <h5 class="contenedorC__text--color">
            Confiable y diseñado para su uso diario
        </h5>
        <div class="contenedorC__Cajas">
            <img src="../img/clockCaja.svg" alt="">
            <h3 class="contenedorC__TextCajas">
                Tiempo real
            </h3>
            <h4 class="contenedorC__TextCajas--color">
                Nuestro API toma información minuto a minuto sobre las tasas que más determinan el comportamiento.
            </h4>
        </div>
        <div class="contenedorC__Cajas">
            <img src="../img/eyeCaja.svg" alt="">
            <h3 class="contenedorC__TextCajas">
                No hay tasas escondidas
            </h3>
            <h4 class="contenedorC__TextCajas--color">
                Ni en la compra o al momento de exit, Batabit siempre te muestra el costo real de lo que estás
                adquiriendo.
            </h4>
        </div>
        <div class="contenedorC__Cajas">
            <img src="../img/dollarCaja.svg" alt="">
            <h3 class="contenedorC__TextCajas">
                Compara monedas
            </h3>
            <h4 class="contenedorC__TextCajas--color">
                Ni en la compra o al momento de exit, Batabit siempre te muestra el costo real de lo que estás
                adquiriendo.
            </h4>
        </div>
        <div class="contenedorC__Cajas">
            <img src="../img/checkCaja.svg" alt="">
            <h3 class="contenedorC__TextCajas">
                Informacion confiable
            </h3>
            <h4  class="contenedorC__TextCajas--color">
                Nuestras fuentes están 100% verificadas y continuamos auditando su contenido mientras se actualizan.
            </h4>
        </div>
        <section class="contenedor__Img">
            <h2>
                Conócelo hoy.
            </h2>
            <img  class="contenedor__Img--width" src="../img/mujer.png" alt="">
        </section>
    </section>
    <section class="contenedorD">
        <h2 class="contenedorD__Text">
            Escoge el plan que mejor se ajuste a ti.
        </h2>
        <h4 class="contenedorD__Text--color">
            Cualquier plan te da acceso completo a nuestra plataforma 
        </h4>
        <div class="contenedorD__Planes">
            <div class="contenedorD__Recomendacion">
                <h3>recomendado</h3>
            </div>
            <h3 class="contenedorD__Planes--text">
                Pago Anual
            </h3>
            <div class="contedorD__Precio">
                <img src="../img/Price.svg" alt="">
            </div>
            <h4 class="contenedorD__Planes--color">
                *Ahorra $129 comparado al plan mensual 
            </h4>
                <button class="contenedorD__Boton" href="">Escoger este
                    <img src="../img/flechaNaranja.svg" alt="">
                </button>
        </div>
    </section>
    <footer class="contenedorF">
        <div>
            <h3>
                Linkedin
            </h3>
            <h3>
                Crunchbase
            </h3>
            <h3>    
                Hackernewa
            </h3>
        </div>
        <div>
            <img src="../img/footer.svg" alt="">
        </div>
    </footer>
</body>

</html>